<script src="/ckeditor/ckeditor.js"></script>
<!-- Blog Entries Column -->
<div class="col-xs-12 col-md-8">

    <div class="col-xs-12 col-md-12 row">

        <div class="col-xs-10 col-md-10 pull-left">
            <h1 class="page-header">
                MrGeek Blog
                <small>New freakin' post every freakin' minute</small>
            </h1>
        </div>
        <% if (session.me && session.user){ %>
            <div class="col-xs-2 col-md-2 pull-right" style="float: right; padding-top: 8%;">
                <a href="#" data-toggle="modal" data-target=".bd-example-modal-sm">
                    <img class="icon" src="/images/add.png" alt="Add Article">
                </a>
            </div>

            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <h4 class="modal-title" id="exampleModalLabel">New Article!</h4>
                        </div>
                        <div class="modal-body">

                            <form action="/addArticle" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input name="title" type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter Title">
                                    <small id="titleHelp" class="form-text text-muted">Enter specific descriptive title.</small>
                                </div>
                                <div class="form-group">
                                    <label for="subTitle">Sub-Title</label>
                                    <input name="subTitle" type="text" class="form-control" id="subTitle" aria-describedby="subTitleHelp" placeholder="Enter Sub-Title">
                                    <small id="subTitleHelp" class="form-text text-muted">Sub title will descripe your article more.</small>
                                </div>
                                <div class="form-group" hidden>
                                    <input name="user" type="text" class="form-control" value="<%= session.user.name %>" hidden>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelect2">Category</label>
                                    <select name="category" multiple class="form-control" id="exampleSelect2">
                                    <option value="boom">boom</option>
                                    <option value="boom1">boom1</option>
                                    <option value="boom2">boom2</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea">Content</label>
                                    <textarea name="content" class="form-control" id="content" rows="3"></textarea>
                                    <script>
                                        CKEDITOR.replace('content');
                                    </script>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Article Image</label>
                                    <input name="image" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                    <small id="fileHelp" class="form-text text-muted">This will be your article imge, please choose a good looking one :D.</small>
                                </div>
                                <!--<button type="submit" class="btn btn-primary">Submit</button>-->

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Send message</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>




    <!-- Blog Posts -->
    <div class="col-xs-12 col-md-12 row">


        <% for (var i=0 ; i < data.length ; i++){ %>
            <h2>
                <a href="#">
                    <%= data[i].title %>
                </a>
            </h2>
            <p class="lead">
                by
                <a href="#">
                    <%= data[i].user %>
                </a>
            </p>
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on
                <%= data[i].createdAt %>
            </p>
            <hr>
            <img class="img-responsive" src="<%= data[i].image %>" alt="">
            <hr>
            <p>
                <%= data[i].content %>
            </p>
            <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>

            <% } %>
    </div>


    <!-- Pager -->
    <div class="col-xs-12 col-md-12">
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>
    </div>

</div>