<div class="col-md-8">

    <h1 class="page-header">
        Welcome,
        <small><%= session.user.name %></small>
    </h1>
    <div>

        <form action="/searchUser" method="GET">
            <div class="form-group">
                <legend class="col-form-legend col-sm-2">Search</legend>
                <input type="text" class="form-control" id="search" placeholder="Type & Hit Enter" name="query">
            </div>

            <fieldset class="form-group">
                <legend class="col-form-legend col-sm-2">Method</legend>
                <div class="col-sm-8">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="type" id="gridRadios1" value="name" checked>
                            Search by name
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="type" id="gridRadios2" value="email">
                            Search by email
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="offset-sm-2 col-sm-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </fieldset>



        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0 ; i< data.length ; i++) { %>
                    <tr>
                        <td>
                            <%= data[i].id %>
                        </td>
                        <td>
                            <a href="#" class="nameEdit" data-pk="<%=data[i].id%>">
                                <%= data[i].name %>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="emailEdit" data-pk="<%=data[i].id%>">
                                <%= data[i].email %>
                            </a>
                        </td>
                        <td>
                            <a href="/removeUser?id=<%=data[i].id%>">
                                <img class="icon" src="../images/remove.png" alt="">
                            </a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>
</div>